<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta charset="UTF-8" />
<title>登录</title>
<link rel="stylesheet" th:href="@{/css/login.css}"></link>
</head>
<body>
	<div class="container-wrap">
		<form class="login-form" action="/saml2/idp/login" method="post">
			<p>
				<label for="username">用户名</label> <input type="text" id="username"
					name="username" />
			</p>
			<p>
				<label for="password">密码</label> <input type="password"
					id="password" name="password" />
			</p>

			<div class="login-help">
				<div class="login-other-opts">
					<a class="login-question" href="#">忘记密码</a> <a class="register"
						href="#">重设密码</a>
				</div>
			</div>

			<input name="SAMLRequest" type="hidden" th:value="${SAMLRequest}"></input>
			<input name="RelayState" type="hidden" th:value="${RelayState}"></input>

			<button type="submit" class="btn login-button">登录</button>
		</form>
	</div>
</body>
</html>