<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta charset="UTF-8" />
<title>装企翼CRM-正在登陆...</title>
</head>
<body onload="document.forms[0].submit()">
	<form th:action="${destination}" method="post">
		<input name="session_index" type="hidden" th:value="${session_index}"></input>
		<input name="SAMLRequest" type="hidden" th:value="${SAMLRequest}"></input>
		<input name="SAMLResponse" type="hidden" th:value="${SAMLResponse}"></input>

		<input name="RelayState" type="hidden" th:value="${RelayState}"></input>

		<button type="submit" class="btn" style="display: none;">登录</button>
	</form>
</body>
</html>