<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<link rel="icon" th:href="@{images/favicon.ico}" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <meta charset="UTF-8" />
  <title>邮件发送成功</title>
  <link rel="stylesheet" th:href="@{/libs/bootstrap.min.css}"></link>
  <link rel="stylesheet" th:href="@{/libs/font-awesome.min.css}"></link>
  <link rel="stylesheet" th:href="@{/libs/flexslider.css}"></link>
  <link rel="stylesheet" th:href="@{/libs/owl.carousel.css}"></link>
  <link rel="stylesheet" th:href="@{/libs/magnific-popup.css}"></link>
  <link rel="stylesheet" th:href="@{/libs/style.css}"></link>
  <link rel="stylesheet" th:href="@{/css/login.css}"></link>
</head>

<body>		
	<!--  Header & Menu  -->
    <header id="header">
        <div class="top-nav">
            <!--  Header Logo  -->
            <div id="logo">
                <a class="navbar-brand" href="index.html">
                    <img th:src="@{/images/logo.png}" class="normal" alt="logo">
                    <img th:src="@{/images/logo@2x.png}" class="retina" alt="logo">
                </a>
            </div>
            <!--  END Header Logo  -->
            <div class="secondary-menu">
                    <!--<li class="phone"><i class="fa fa-phone" aria-hidden="true"></i>18751891885</li>-->
                    <!-- Search Icon -->
                    <button type="button" class="freeUser btn btn-default btn-sm">
                        <i class="fa fa-handshake-o"></i>免费体验
                    </button>
                    <button type="button" class="login btn btn-success btn-sm">
                        <i class="fa fa-user-circle"></i>登录
                    </button>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <!--  Classic menu, responsive menu classic  -->
            <div id="menu-classic">
                <div class="menu-holder">
                    <ul>
                        <li><a href="index.html">主页</a></li>
                        <li><a href="services.html">产品与服务</a></li>
                        <li><a href="about.html">关于我们</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <!--  END Classic menu, responsive menu classic  -->
            <!--  Button for Responsive Menu Classic  -->
            <div id="menu-responsive-classic">
                <div class="menu-button">
                    <span class="bar bar-1"></span>
                    <span class="bar bar-2"></span>
                    <span class="bar bar-3"></span>
                </div>
            </div>
            <!--  END Button for Responsive Menu Classic  -->
            <div class="secondary-menu-mobile">
                <ul>
                    <li class="mail"><i class="fa fa-envelope" aria-hidden="true"></i><a href="maito:info@domain.com">info@domain.com</a></li>
                    <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+39 123456789</li>
                </ul>
            </div>
        </nav>
    </header>
     <!--  Main Wrap  -->
    <div id="main-wrap">
    	<div class="container container-wrap">
		   <form class="forget-password-form" role="form">
		   	<div class="form-title-tip form-group">
		     	<div class="step-tip color-gray"><i class="fa fa-user"></i>忘记密码<span class="char-sepector">&nbsp;&nbsp; /&nbsp;&nbsp;</span></div>
		     	<div class="step-tip color-highligth"><i class="fa fa-envelope"></i>发送邮件<span class="char-sepector">&nbsp;&nbsp;/&nbsp;&nbsp;</span></div>
		     	<div class="step-tip color-gray"><i class="fa fa-child"></i>重置密码</div>
		     </div>
		     <div class="form-group">
		     	<i class="fa fa-check-circle success-tip-icon"></i>
		       <span>重置密码邮件已经发送到</span><span th:text="${email}"></span><span>，请前去您的邮件点击链接，重置密码，该链接在24小时内失效。</span>
		     </div>
		   </form>
		</div>
    </div>

 <!--  Footer  -->
    <footer>
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-5 text">
                    <p>   专注中小装修企业的销售管理系统， 从装修企业实际需求开展，围绕客户展开线索-客户跟踪-消化跟踪-合同管理等业务活动，帮助装修人员提高业绩</p>
                </div>
                <div class="col-md-4 text small">
                    <h4 class="heading white margin-bottom-small weight-300">装企翼</h4>
                    <p>公司地址<br>南京市浦口区星甸街道育才北路B-10号</p>
                    <p>服务电话<br>18751891885</p>
                </div>
                <div class="col-md-3 text small">
                    <h4 class="heading white margin-bottom-small weight-300">快速导航</h4>
                    <ul class="info">
                        <li><a href="services.html">产品及服务</a></li>
                        <li><a href="services.html">关于我们</a></li>
                        <li><a href="contact.html">申请试用</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div id="copy">
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-6 text">
                    <p>Copyright &copy; 2017.Company fccfc.com All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!--  END Footer. Class fixed for fixed footer  -->
</body>
   <script th:src="@{/libs/js/jquery/jquery.min.js}"></script>
  <script th:src="@{/libs/js/bootstrap/bootstrap.min.js}"></script>
  <script th:src="@{/libs/js/jquery/jquery.flexslider-min.js}"></script>
  <script th:src="@{/libs/js/jquery/owl.carousel.min.js}"></script>
  <script th:src="@{/libs/js/isotope.min.js}"></script>
  <script th:src="@{/libs/js/jquery/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{/libs/js/jquery.scrollTo.min.js}"></script>
  <script th:src="@{/libs/js/smooth.scroll.min.js}"></script>
  <script th:src="@{/libs/js/jquery.appear.js}"></script>
  <script th:src="@{/libs/js/jquery.countTo.js}"></script>
  <script th:src="@{/libs/js/jquery.scrolly.js}"></script>
  <script th:src="@{/libs/js/plugins-scroll.js}"></script>
  <script th:src="@{/libs/js/imagesloaded.min.js}"></script>
  <script th:src="@{/libs/js/pace.min.js}"></script>
  <script th:src="@{/libs/js/main.js}"></script>
</html>