<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>装企翼CRM-错误</title>
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/base.css}">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/reset.css}">
</head>

<body>
	<section id="div_main" class="register-wrapper ">
		<div class="crm-register-bg" style="overflow-y: scroll;">
			<div class="crm-register-form crm-login-form login_box">
				<header class="crm-login1-header">
					         <a href="http://www.fccfc.com">
         	<img th:src="@{/images/logo.png}" width="302" height="76.5" />
         </a>
				</header>
				<div th:text="${errorMessage}"></div>
				<div class="form-group margin-top-50">
					<a class="login-question" href="http://www.fccfc.com">返回首页</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>